html, body {
  padding: 0;
  margin: 0;
}

#concept-container {
  width: 100%;
  height: auto;
  display: block;
  perspective: 500px;
}
#design-wrapper {
  border: solid 1px black;
  box-shadow: 1px 1px 9px 3px #CCCCCC;
  width: 200px;
  height: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
/* Smooth transition */
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.content {
  border: solid 1px black;
  width: 150px;
  box-shadow: 1px 1px 9px 3px #CCCCCC;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  position: absolute;
  font-size: 10px;
  text-align: center;
  top: 50px;
  left: 525px;
  font-family: 'Slabo 27px', serif;
}
.bottom {
  border: solid 1px black;
  box-shadow: 1px 1px 9px 3px #CCCCCC;
  width: 100px;
  height: 30px;
  display: block;
  position: absolute;
  clear: both;
  right: 560px;
  top: 265px;
}
.btn_img {
  width: 25px;
  float: right;
  height: 20px;
  margin: 5px;
}
.split_anim {
  transform: rotateY( 65deg ) rotateX( 20deg );
}
.bottom_anim {
        transform: rotateY( 65deg ) rotateX( 20deg );
    right: 545px;
    top: 138px;
  }
.content_anim {
  top: 100px;
  left: 500px;
  transform: rotateY( 65deg ) rotateX( 20deg );
}
.top_anim {
      transform: rotateY( 65deg ) rotateX( 20deg );
}
