html, body {
  padding: 0;
  margin: 0;
}

#concept-container {
  width: 100%;
  height: auto;
  display: block;
}
#design-wrapper {
  border: solid 1px black;
  box-shadow: 1px 1px 9px 3px #CCCCCC;
  width: 200px;
  height: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
/* Smooth transition */
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.content {
  border: solid 1px black;
  width: 150px;
  box-shadow: 1px 1px 9px 3px #CCCCCC;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}
.bottom {
  border: solid 1px black;
  box-shadow: 1px 1px 9px 3px #CCCCCC;
  width: 100px;
  height: 30px;
  display: block;
  position: relative;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
.btn_img {
  width: 25px;
  float: right;
  height: 20px;
  margin: 5px;
}
.split_anim {
  /*transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: 100% 0%;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0%;*/
  -ms-transform: rotate(45deg); /* IE 9 */
  -ms-transform-origin: 20% 40%; /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  transform-origin: 20% 40%;
}
